.alert {
    @include drop-shadow(2);
    @include grid-col(10,8,8);
    @include grid-off(1,2,2);
    margin-bottom: 1em!important;
    @include transition(box-shadow 0.2s ease-in-out);
    @include border-radius(2px);
    padding: 20px;
    text-shadow: rgba(0,0,0,0.1) -1px 0, rgba(0,0,0,0.1) 0 -1px,
    rgba(255,255,255,0.1) 1px 0, rgba(255,255,255,0.1) 0 1px,
    rgba(0,0,0,0.1) -1px -1px, rgba(255,255,255,0.1) 1px 1px;

    &:hover {
        @include drop-shadow(3);
    }
    &.float {
        position: fixed;
        top: 10px;
        z-index: 80;
    }
}

.alert-success {
    background-color: $lightGreen;
    color: $white;
}

.alert-info {
    background-color: $buttonLightBlue;
    color: $white;
}

.alert-error {
    background-color: $lightRed;
    color: $white;
}

.alert-close {
    color: #000000;
    text-shadow: 0 1px 0 #fff;
    font-size: 21px;
    line-height: 10px;
    float: right;
    opacity: .5;
}
