.card {
    @include drop-shadow(1);
    display: inline-block;
    background-color: white;
    @include transition(box-shadow 0.2s ease-in-out);
    @include border-radius(2px);
    margin-bottom: 1em;
    width: 100%;

    .content {
        padding: 1.5em 1em 1em 1em;
    }
    .image {
        text-align: center;
        overflow: hidden;
        img {
            height: auto;
            width: 100%;
        }
    }

    &:hover {
        @include drop-shadow(2);
    }
}