.banner {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(160deg, rgb(60, 33, 89) 0%,rgb(30, 93, 118) 100%);
    background-size: cover;
    display: flex;
    align-items: center;

    .banner-container {
        @include grid(1);
        max-width: 80rem;
        width: 95%;
        padding: 1em;
        padding-top: 50px;
        padding-bottom: 50px;

        background-color: #ffffff;
        @include drop-shadow(2);
    }

    &.good-height {
        padding: 80px 0;
    }
}
