@mixin span {
    float: left;
    margin-left: $gridMarge * 1%;
    margin-right: $gridMarge * 1%;
}

@mixin grid-formula($i, $marge) {
    width: $i * 100px / 12px - $gridMarge * 2 * 1%;
}

@mixin grid-formula-margin($i, $marge) {
    margin-left: $i * 100px / 12px + $gridMarge * 1%;
}

@mixin grid($marginBottomSize) {
    margin: 0 auto;
    overflow: hidden;

    @media only screen {
        [class*="small-"] {
            @include span;
        }

        @for $i from 1 through 12 {
            .small-#{$i} { @include grid-formula($i, $gridMarge); }
        }

        @for $i from 1 through 11 {
            .offset-s-#{$i} { @include grid-formula-margin($i, $gridMarge); }
        }
    }

    @media only screen and (min-width: $mediaMedium) {
        [class*="medium-"] {
            @include span;
        }
        @for $i from 1 through 12 {
            .medium-#{$i} { @include grid-formula($i, $gridMarge); }
        }

        @for $i from 1 through 11 {
            .offset-m-#{$i} { @include grid-formula-margin($i, $gridMarge); }
        }
    }

    @media only screen and (min-width: $mediaLarge) {

        [class*="large-"] {
            @include span;
        }
        @for $i from 1 through 12 {
            .large-#{$i} { @include grid-formula($i, $gridMarge); }
        }

        @for $i from 1 through 11 {
            .offset-l-#{$i} { @include grid-formula-margin($i, $gridMarge); }
        }
    }

    .grid-row {
        width: 100%;
        overflow: hidden;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }
}

@mixin grid-col($sizeS, $sizeM, $sizeL) {
    @include span;

    @media only screen and (max-width: $mediaMedium) {
        @include grid-formula($sizeS, $gridMarge);
    }

    @media only screen and (min-width: $mediaMedium) and (max-width: $mediaLarge) {
        @include grid-formula($sizeM, $gridMarge);
    }

    @media only screen and (min-width: $mediaLarge) {
        @include grid-formula($sizeL, $gridMarge);
    }
}

@mixin grid-off($sizeS, $sizeM, $sizeL) {
    @include span;

    @media only screen and (max-width: $mediaMedium) {
        @include grid-formula-margin($sizeS, $gridMarge);
    }

    @media only screen and (min-width: $mediaMedium) and (max-width: $mediaLarge) {
        @include grid-formula-margin($sizeM, $gridMarge);
    }

    @media only screen and (min-width: $mediaLarge) {
        @include grid-formula-margin($sizeL, $gridMarge);
    }
}

.group {
    @include clearfix();
}