@mixin button-color($color) {
    background-color: $color;
    &:hover {
        background-color: darken($color, 8);
    }
}

select {
    background-color: #fff;
    font-size: 0.9em;
    line-height: 1.2em;
    padding-left: 0.5em;
    height: 2.5em;
    font-weight: $fontWeight;
    font-family: $font;
    border: 1px solid $gray;
}

button, .button {
    color: #ffffff;
    text-transform: uppercase;
    height: 2.5em;

    &.raised {
        @include drop-shadow(1);
    }
}


input[type=button], input[type=submit], input[type=reset], button, .button {
    background-color: $gray;
    padding: 0.6em 1em;
    font-weight: normal;
    outline:none;
    border: none;
    position: relative;
    cursor: pointer;
    color: $buttonTextColor;
    line-height: 1;
    text-transform: uppercase;
    -webkit-transform: translate(0,0);
    transition: all 0.3s ease-in-out;
    text-align: center;
    height: auto;

    &.light-grey {
        color: $darkGray;
    }

    &:hover {
        color: #ffffff;
        background-color: $darkGray;
    }
}

input {
    border: 1px solid $gray;
    height: 2.2em;
}

select, input {
    background-image: none;
}


textarea, button, .button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
}


//All types of buttons / inputs
input, button, .button {
    @include border-radius(2px);
    font-family: $font;
    font-size: 1em;
    line-height: 1.2em;
    @include border-radius(2px);

    &.raised:disabled:hover {
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
        @include drop-shadow(1);
    }

    &.raised:hover {
        -webkit-transform: translate(0,-1px);
        transform: translate(0,-1px);
        @include drop-shadow(2);
    }

    &.raised:active {
        -webkit-transform: translate(0,0px);
        transform: translate(0,0px);
        @include drop-shadow(1);
        transition: all 0.1s ease-in-out;
    }

    &.yellow {
        @include button-color($yellow);
    }

    &.grey {
        @include button-color($gray);
    }

    &.light-grey {
        @include button-color($lightGray);
    }

    &.blue {
        @include button-color($blue);
    }

    &.orange {
        @include button-color($orange);
    }

    &.light-blue {
        @include button-color($lightBlue);
    }

    &.red {
        @include button-color($red);
    }

    &.light-red {
        @include button-color($lightRed);
    }

    &.green {
        @include button-color($green);
    }

    &.light-green {
        @include button-color($lightGreen);
    }

    &:disabled {
        color: #999999;
        background-color: #ffffff;
        &:hover {
            background-color: inherit;
            color: #333333;
        }
    }

    &.good-width {
        @include grid-off(1,3,4);
        @include grid-col(10,6,4);
    }
}

input[type=text] {
    padding:0 0.5em;

    &.failure {
        border-color: $red;
    }

    &.success {
        border-color: $green;
    }

    &:disabled {
        background-color: $inputDisabled;
    }

}

input[type=email], input[type=password], input[type=number] {
    padding:0 0.5em;
}

input[type=file] {
    border: none;
}

input[type=range] {
    border: none;
}

textarea {
    font-size: 1em;
    line-height: 1.2em;
    padding: 0.5em;
    height: 5em;
    font-family: $font;
    font-weight: $fontWeight;
    border: 1px solid $gray;
    @include border-radius(2px);

    &.failure {
        border-color: $red;
    }

    &.success {
        border-color: $green;
    }

    &:disabled {
        background-color: #EBEBE4;
    }
}