@media only screen and (max-width: $mediaMedium) {
    .hidden-small {
        display: none;
    }
}

@media only screen and (min-width: $mediaMedium) and (max-width: $mediaLarge) {
    .hidden-medium {
        display: none;
    }
}

@media only screen and (min-width: $mediaLarge) {
    .hidden-large {
        display: none;
    }
}
