@mixin drop-shadow($depth) {
    @if $depth == 0 {
        @include box-shadow(0 0 0 #000);
    }
    @if $depth == 1 {
        @include box-shadow(0 1.5px 3px rgba(black, 0.24), 0 3px 8px rgba(black, 0.05));
    }
    @if $depth == 2 {
        @include box-shadow(0 4px 7px rgba(black, 0.23), 0 8px 25px rgba(black, 0.05));
    }
    @if $depth == 3 {
        @include box-shadow(0 7px 10px rgba(black, 0.30), 0 10px 50px rgba(black, 0.12));
    }
    @if $depth == 4 {
        @include box-shadow(0 10px 15px rgba(black, 0.28), 0 15px 60px rgba(black, 0.18));
    }
    @if $depth == 5 {
        @include box-shadow(0 16px 20px rgba(black, 0.29), 0 20px 65px rgba(black, 0.18));
    }
}

.shadow0 {
    @include drop-shadow(0);
    &:hover {
        @include drop-shadow(2);
    }
}
.shadow1 {
    @include drop-shadow(1);
    &:hover {
        @include drop-shadow(3);
    }
}
.shadow2 {
    @include drop-shadow(2);
    &:hover {
        @include drop-shadow(4);
    }
}
.shadow3 {
    @include drop-shadow(3);
    &:hover {
        @include drop-shadow(5);
    }
}
.shadow4 {
    @include drop-shadow(4);
    &:hover {
        @include drop-shadow(2);
    }
}
.shadow5 {
    @include drop-shadow(5);
    &:hover {
        @include drop-shadow(1);
    }
}