/*-----------------------*\
         Font
\*-----------------------*/
$font: 'RobotoDraft', sans-serif;
$lineHeight: 1.5em;
$h1: 3rem;
$h2: 2.5rem;
$h3: 2rem;
$h4: 1.75rem;
$h5: 1.5rem;
$h6: 1.25rem;
$fontWeight: 300;

/*-----------------------*\
         Colors
\*-----------------------*/
$lightGreen: #2ECC71;
$green: #26A65B;
$blue: #4285f4;
$lightBlue: #03a9f4;
$white: #ffffff;
$red: #CF000F;
$lightRed: #D91E18;
$yellow: #F4D03F;
$orange: #f39c12;
$lighterGray: #F0F0F0;
$lightGray: #ECECEC;
$gray: #BDC3C7;
$darkGray: darken($gray, 8);
$midnightBlue: #2c3e50;

/*-----------------------*\
         Table
\*-----------------------*/
$tableBorder: rgba(200,200,200,0.5);
$tableStripBg: $lighterGray;
$tableStripBgHover: $lightGray;

/*-----------------------*\
         Link
\*-----------------------*/
$link: #4285f4;
$linkHover: #1746d6;

/*-----------------------*\
         Button
\*-----------------------*/
$buttonTextColor: #ffffff;
$buttonBlue: #4285f4;
$buttonLightBlue: #03a9f4;
$buttonDisabled: #EAEAEA;
$buttonDisabledHover: #E8E8E8;
$inputDisabled: #EBEBE4;

/*-----------------------*\
         Container
\*-----------------------*/
$gridMarge: 1;

/*-----------------------*\
         Nav
\*-----------------------*/
$navWidth: 220px;
$navBackground: rgba(0,0,0,0);

/*-----------------------*\
         Media size
\*-----------------------*/
$mediaMedium: 48.1em;
$mediaLarge: 64em;


/*-----------------------*\
         Colors and backgrounds
\*-----------------------*/
@mixin c-color($color) {
    color: $color;
}

.c-orange {
    @include c-color($orange);
}

.c-white{
    @include c-color(#ffffff);
}

.b-yellow {
    background-color: $yellow;
}
