@import "compass";
@import "reset";
@import "shadow";
@import "style";
@import "basic";
@import "card";
@import "table";
@import "grid";
@import "alert";
@import "media";
@import "input";
@import "nav";
@import "decoration";

.grid-container {
    max-width: 80rem;
    width: 100%;
    padding: 0 1em;
    @include grid(1);
}
