/* line 22, ../../scss/_shadow.scss */
.shadow0 {
  -moz-box-shadow: 0 0 0 #000;
  -webkit-box-shadow: 0 0 0 #000;
  box-shadow: 0 0 0 #000;
}
/* line 24, ../../scss/_shadow.scss */
.shadow0:hover {
  -moz-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.23), 0 8px 25px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.23), 0 8px 25px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.23), 0 8px 25px rgba(0, 0, 0, 0.05);
}

/* line 28, ../../scss/_shadow.scss */
.shadow1 {
  -moz-box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.24), 0 3px 8px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.24), 0 3px 8px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.24), 0 3px 8px rgba(0, 0, 0, 0.05);
}
/* line 30, ../../scss/_shadow.scss */
.shadow1:hover {
  -moz-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3), 0 10px 50px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3), 0 10px 50px rgba(0, 0, 0, 0.12);
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3), 0 10px 50px rgba(0, 0, 0, 0.12);
}

/* line 34, ../../scss/_shadow.scss */
.shadow2 {
  -moz-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.23), 0 8px 25px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.23), 0 8px 25px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.23), 0 8px 25px rgba(0, 0, 0, 0.05);
}
/* line 36, ../../scss/_shadow.scss */
.shadow2:hover {
  -moz-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.28), 0 15px 60px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.28), 0 15px 60px rgba(0, 0, 0, 0.18);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.28), 0 15px 60px rgba(0, 0, 0, 0.18);
}

/* line 40, ../../scss/_shadow.scss */
.shadow3 {
  -moz-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3), 0 10px 50px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3), 0 10px 50px rgba(0, 0, 0, 0.12);
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3), 0 10px 50px rgba(0, 0, 0, 0.12);
}
/* line 42, ../../scss/_shadow.scss */
.shadow3:hover {
  -moz-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.29), 0 20px 65px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.29), 0 20px 65px rgba(0, 0, 0, 0.18);
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.29), 0 20px 65px rgba(0, 0, 0, 0.18);
}

/* line 46, ../../scss/_shadow.scss */
.shadow4 {
  -moz-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.28), 0 15px 60px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.28), 0 15px 60px rgba(0, 0, 0, 0.18);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.28), 0 15px 60px rgba(0, 0, 0, 0.18);
}
/* line 48, ../../scss/_shadow.scss */
.shadow4:hover {
  -moz-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.23), 0 8px 25px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.23), 0 8px 25px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.23), 0 8px 25px rgba(0, 0, 0, 0.05);
}

/* line 52, ../../scss/_shadow.scss */
.shadow5 {
  -moz-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.29), 0 20px 65px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.29), 0 20px 65px rgba(0, 0, 0, 0.18);
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.29), 0 20px 65px rgba(0, 0, 0, 0.18);
}
/* line 54, ../../scss/_shadow.scss */
.shadow5:hover {
  -moz-box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.24), 0 3px 8px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.24), 0 3px 8px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.24), 0 3px 8px rgba(0, 0, 0, 0.05);
}

/*-----------------------*\
         Font
\*-----------------------*/
/*-----------------------*\
         Colors
\*-----------------------*/
/*-----------------------*\
         Table
\*-----------------------*/
/*-----------------------*\
         Link
\*-----------------------*/
/*-----------------------*\
         Button
\*-----------------------*/
/*-----------------------*\
         Container
\*-----------------------*/
/*-----------------------*\
         Nav
\*-----------------------*/
/*-----------------------*\
         Media size
\*-----------------------*/
/*-----------------------*\
         Colors and backgrounds
\*-----------------------*/
/* line 80, ../../scss/_style.scss */
.c-orange {
  color: #f39c12;
}

/* line 84, ../../scss/_style.scss */
.c-white {
  color: #ffffff;
}

/* line 88, ../../scss/_style.scss */
.b-yellow {
  background-color: #F4D03F;
}

/* line 5, ../../scss/local/local.scss */
.l1 {
  margin-bottom: 40px;
  color: #1F5B75;
}

/* line 10, ../../scss/local/local.scss */
.l2 {
  margin-bottom: 30px;
  color: #2F3A65;
}

/* line 15, ../../scss/local/local.scss */
.l3 {
  margin-bottom: 30px;
  color: #3B2158;
}

/* line 20, ../../scss/local/local.scss */
.preview {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 20px 40px;
}

/* line 26, ../../scss/local/local.scss */
.grid-presentation {
  color: #ffffff;
  text-align: center;
  padding-top: 0.8em;
  background-color: #03a9f4;
  height: 3em;
  margin-bottom: 1em;
}

/* line 45, ../../scss/local/local.scss */
h1 {
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
/* line 38, ../../scss/local/local.scss */
h1:hover {
  color: #03a9f4;
}

/* line 45, ../../scss/local/local.scss */
h2 {
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
/* line 38, ../../scss/local/local.scss */
h2:hover {
  color: #03a9f4;
}

/* line 45, ../../scss/local/local.scss */
h3 {
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
/* line 38, ../../scss/local/local.scss */
h3:hover {
  color: #03a9f4;
}

/* line 45, ../../scss/local/local.scss */
h4 {
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
/* line 38, ../../scss/local/local.scss */
h4:hover {
  color: #03a9f4;
}

/* line 45, ../../scss/local/local.scss */
h5 {
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
/* line 38, ../../scss/local/local.scss */
h5:hover {
  color: #03a9f4;
}

/* line 45, ../../scss/local/local.scss */
h6 {
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
/* line 38, ../../scss/local/local.scss */
h6:hover {
  color: #03a9f4;
}

/* line 50, ../../scss/local/local.scss */
h1 {
  color: #3949AB;
}

/* line 54, ../../scss/local/local.scss */
h2 {
  color: #3F51B5;
}

/* line 58, ../../scss/local/local.scss */
h3 {
  color: #5C6BC0;
}

/* line 62, ../../scss/local/local.scss */
h4 {
  color: #7986CB;
}

/* line 66, ../../scss/local/local.scss */
h5 {
  color: #9FA8DA;
}

/* line 70, ../../scss/local/local.scss */
h6 {
  color: #C5CAE9;
}

/* line 75, ../../scss/local/local.scss */
.sommaire a {
  color: #4285f4;
  font-weight: 300;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
/* line 79, ../../scss/local/local.scss */
.sommaire a:hover {
  color: #03a9f4;
}
